<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      IITU
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-progress-bar color="danger" *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <ion-card>

    <ion-card-header >
      <ion-img [src]="'assets/logistic.png'"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <form action="#" class="ho-form ho-form-boxed" [formGroup]="loginForm">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="login"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [type]="'password'" formControlName="password"></ion-input>
      </ion-item>

      <ion-button [disabled]="loading" color="danger" expand="block" (click)="login()">Login</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
