<ion-header>
    <ion-toolbar>
        <ion-title>
            Регистрация
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>

            <form action="#" class="ho-form ho-form-boxed" [formGroup]="registerForm">
                <ion-card-content>
                    <ion-label>Форма регистрации</ion-label>
                    <ion-item>
                        <ion-label position="floating">Логин</ion-label>
                        <ion-input formControlName="login"></ion-input>
                        <div class="text-danger" *ngIf="registerForm.controls['login'].errors?.required && !registerForm.controls['login'].pristine">
                            Введите логин
                        </div>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Имя</ion-label>
                        <ion-input formControlName="firstName"></ion-input>
                        <div class="text-danger" *ngIf="registerForm.controls['firstName'].errors?.required && !registerForm.controls['firstName'].pristine">
                            Введите имя
                        </div>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Фамилия</ion-label>
                        <ion-input formControlName="lastName"></ion-input>
                        <div class="text-danger" *ngIf="registerForm.controls['lastName'].errors?.required && !registerForm.controls['lastName'].pristine">
                            Введите фамилию
                        </div>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Номер телефона</ion-label>
                        <ion-input formControlName="phoneNumber"></ion-input>
                        <div class="text-danger" *ngIf="registerForm.controls['phoneNumber'].errors?.required && !registerForm.controls['phoneNumber'].pristine">
                            Введите номер телефона
                        </div>
                    </ion-item>


                    <ion-item>
                        <ion-label position="floating">Пароль</ion-label>
                        <ion-input [type]="'password'" formControlName="password"></ion-input>
                        <div class="text-danger" *ngIf="registerForm.controls['password'].errors?.required && !registerForm.controls['password'].pristine">
                            необходимо ввести пароль
                        </div>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Подтверждение пароля</ion-label>
                        <ion-input [type]="'password'" formControlName="repassword"></ion-input>
                        <div class="text-danger" *ngIf="registerForm.controls['repassword'].errors?.required && !registerForm.controls['repassword'].pristine">
                            необходимо подтвердить пароль
                        </div>
                        <div class="text-danger" *ngIf="registerForm.controls['repassword'].errors?.mustMatch && !registerForm.controls['repassword'].pristine">
                            Пароли должны совпадать
                        </div>
                    </ion-item>
                </ion-card-content>

                <ion-button [disabled]="!registerForm.valid" (click)="register()"
                            [ngClass]="{'disabled' : !registerForm.valid}"
                            expand="block">Регистрация</ion-button>

                <div style="float: right">
                    <ion-label>Уже зарегистрированы?</ion-label>
                    <ion-button size="small" routerDirection="back" routerLink="/" fill="clear">Вход</ion-button>
                </div>

            </form>
        </ion-card-content>
    </ion-card>


</ion-content>
