<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
<ion-button [routerLink]="'/home/orders/'">
  Back
</ion-button>
<ion-card>
  <ion-card-content>
    <form action="#" class="ho-form ho-form-boxed" [formGroup]="addOrderForm">

      <ion-item>
        <ion-label position="floating">FROM:</ion-label>
        <ion-input formControlName="fromLocation"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">TO:</ion-label>
        <ion-input formControlName="toLocation"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input formControlName="price" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea formControlName="description" type="text"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Client</ion-label>
        <ion-select placeholder="Select One" formControlName="client">
          <ion-select-option *ngFor="let user of users" [value]="user">{{user.firstName + ' ' + user.lastName}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button [disabled]="loading || !addOrderForm.valid" expand="block" (click)="addOrder()">Save</ion-button>
    </form>
  </ion-card-content>
</ion-card>