<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
<ion-list [lines]="'full'" >
  <ion-item *ngFor="let order of orders">
    <ion-icon name="cube" slot="start"></ion-icon>

    <ion-label>
      <ion-text color="primary" *ngIf="order.client">
        <h3>Client: {{order.client.firstName + ' ' + order.client.lastName}}</h3>
      </ion-text>
      <ion-text>
        <p>
          From location: {{order.fromLocation}}
        </p>
        <p>
          Description: {{order.description}}
        </p>

        <p *ngIf="!order.driver; else notAccepted" class="ion-color-danger">
          <ion-text color="danger">
            Order still not taken
          </ion-text>
        </p>
        <ng-template #notAccepted>
          <p>
            Driver: {{order.driver.firstName + ' ' + order.driver.lastName}}
          </p>
        </ng-template>

        <p>
          To location: {{order.toLocation}}
        </p>
        <p>
          Price: {{order.price}}KZT
        </p>
        <p>
          Status: {{order.status.name}}
        </p>
        <p>
          Done by client: {{order.completedByClient ? 'Yes' : 'No'}}
        </p>
        <p>
          Done by driver: {{order.completedByDriver? 'Yes' : 'No'}}
        </p>
        <div float-right >
          <ion-button (click)="doneByClient(order)" [disabled]="order.completedByClient || !isClient()">
            <ion-icon name="checkmark" ></ion-icon>
          </ion-button>

          <ion-button *ngIf="order.completedByClient" [disabled]="order.completedByDriver || isClient()" (click)="doneByDriver(order)">
            <ion-icon name="done-all" ></ion-icon>
          </ion-button>

          <ion-label style="color: green;" *ngIf="order.completedByClient && order.completedByDriver" >
            Completed
          </ion-label>
        </div>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-list>
