<ion-button *ngIf="!isAdmin" color="primary" [routerLink]="'/home/cars/new'" routerDirection="root">
  <ion-icon name="add"></ion-icon>
</ion-button>

<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
<ion-list [lines]="'full'" >
  <ion-item *ngFor="let car of cars">
    <ion-icon name="contact" md="md-contact" slot="start"></ion-icon>

    <ion-label>
      <ion-text color="primary" *ngIf="car.user">
        <h3>Owner: {{car.user.firstName}} {{car.user.lastName}}</h3>
      </ion-text>
      <ion-text>
        <p *ngIf="car.carType">
          Car type: {{car.carType.name}}
        </p>
        <p *ngIf="car.company">
          Company: {{car.company.name}}
        </p>
        <p>
          Plate number: {{car.plateNumber}}
        </p>
        <ion-button color="danger" float-right (click)="delete(car)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-list>
