<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
<ion-button [routerLink]="'/home/items/'">
  Back
</ion-button>
<ion-card>
  <ion-card-content>
    <form action="#" class="ho-form ho-form-boxed" [formGroup]="addItemForm">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input formControlName="price" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Company</ion-label>
        <ion-select placeholder="Select One" formControlName="company">
          <ion-select-option *ngFor="let company of companies" [value]="company">{{company.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input  #fileInput (change)="uploadFile($event)"  formControlName="file" type="file"></ion-input>
      </ion-item>

      <ion-button [disabled]="loading || !addItemForm.valid" expand="block" (click)="addItem()">Save</ion-button>
    </form>
  </ion-card-content>
</ion-card>