<ion-button color="primary" [routerLink]="'/home/orders/new'" routerDirection="root">
  <ion-icon name="add"></ion-icon>
</ion-button>

<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
<ion-list [lines]="'full'" >
  <ion-item *ngFor="let order of orders">
    <ion-icon name="cube" slot="start"></ion-icon>

    <ion-label>
      <ion-text color="primary" *ngIf="order.client">
        <h3>Client: {{order.client.firstName + ' ' + order.client.lastName}}</h3>
      </ion-text>
      <ion-text>
        <p>
          From location: {{order.fromLocation}}
        </p>
        <p>
          Description: {{order.description}}
        </p>

        <p *ngIf="!order.driver; else notAccepted" class="ion-color-danger">
          <ion-text color="danger">
            Order still not taken
          </ion-text>
        </p>
        <ng-template #notAccepted>
          <p>
            Driver: {{order.driver.firstName + ' ' + order.driver.lastName}}
          </p>
        </ng-template>

        <p>
          To location: {{order.toLocation}}
        </p>
        <p>
          Price: {{order.price}}KZT
        </p>
        <ion-button color="danger" float-right (click)="delete(order)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-list>
