<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <div *ngIf="user">
    <ion-card>
      <ion-item [lines]="'full'" >
        <ion-icon name="contact" slot="start"></ion-icon>
        <ion-label>Welcome, {{user.firstName}} {{user.lastName}}!</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item [lines]="'full'" >
        <ion-img [src]="'assets/logistic.png'"></ion-img>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
