<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

<ion-button *ngIf="isDriver" color="primary" [routerLink]="['/home/drivers/add']">
  <ion-icon name="add"></ion-icon>
</ion-button>


<ion-list [lines]="'full'" >
  <ion-item *ngFor="let user of users">
    <ion-icon name="contact" md="md-contact" slot="start"></ion-icon>

    <ion-label>
      <ion-text color="primary">
        <h3>{{user.firstName}} {{user.lastName}}</h3>
      </ion-text>
      <p>Role: {{user.role.name}}</p>
      <ion-text color="secondary">
        <p>
          <ion-button fill="outline" slot="end" float-right  [routerLink]="'/home/users/'+ user.id">View
          </ion-button>
        </p>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-list>
